<!-- [ Main Content ] start -->
<div class="row">
  <!-- [ Typography ] start -->
  <div class="col-sm-12">
    <app-card cardTitle="Headings">
      <ng-template #headerTitleTemplate>
        .h1 through .h6 classes are also available, for when you want to match the font styling of a heading but cannot use the associated
        HTML element.
      </ng-template>
      <h1>h1. Heading</h1>
      <div class="clearfix"></div>
      <h2>h2. Heading</h2>
      <div class="clearfix"></div>
      <h3>This is a H3</h3>
      <div class="clearfix"></div>
      <h4>This is a H4</h4>
      <div class="clearfix"></div>
      <h5>This is a H5</h5>
      <div class="clearfix"></div>
      <h6>This is a H6</h6>
    </app-card>
  </div>
  <div class="col-sm-12">
    <app-card cardTitle="Display Headings">
      <h1 class="display-1">Display 1</h1>
      <h1 class="display-2">Display 2</h1>
      <h1 class="display-3">Display 3</h1>
      <h1 class="display-4">Display 4</h1>
      <h1 class="display-5">Display 5</h1>
      <h1 class="display-6">Display 6</h1>
    </app-card>
  </div>
  <div class="col-md-6">
    <app-card cardTitle="Inline Text Elements">
      <p class="lead m-t-0">Your title goes here</p>
      You can use the mark tag to
      <mark>highlight</mark>
      text.
      <br />
      <del>This line of text is meant to be treated as deleted text.</del>
      <br />
      <ins>This line of text is meant to be treated as an addition to the document.</ins>
      <br />
      <strong>rendered as bold text</strong>
      <br />
      <em>rendered as italicized text</em>
    </app-card>
  </div>
  <div class="col-md-6">
    <app-card cardTitle="Contextual Text Colors">
      <p class="text-muted mb-1">Muted contextual text.</p>
      <p class="text-primary mb-1">Primary contextual text.</p>
      <p class="text-success mb-1">Success contextual text.</p>
      <p class="text-info mb-1">Info contextual text.</p>
      <p class="text-warning mb-1">Warning contextual text.</p>
      <p class="text-danger mb-1">Danger contextual text.</p>
      <p class="text-dark mb-1">Dark contextual text.</p>
    </app-card>
  </div>
  <div class="col-md-6 col-lg-4">
    <app-card cardTitle="Unordered">
      <ul>
        <li>First list item</li>
        <li>Second list item</li>
        <li>Third list item</li>
        <li>Fourth list item</li>
        <li>
          Parent item with nested list
          <ul>
            <li>Nested item one</li>
            <li>Nested item two</li>
            <li>Nested item three</li>
            <li>Nested item four</li>
          </ul>
        </li>
        <li>Another list item</li>
        <li>Final list item</li>
      </ul>
    </app-card>
  </div>
  <div class="col-md-6 col-lg-4">
    <app-card cardTitle="Ordered">
      <ol>
        <li>First ordered item</li>
        <li>Second ordered item</li>
        <li>Third ordered item</li>
        <li>Fourth ordered item</li>
        <li>
          Parent item with nested list
          <ul>
            <li>Nested item one</li>
            <li>Nested item two</li>
            <li>Nested item three</li>
            <li>Nested item four</li>
          </ul>
        </li>
        <li>Another ordered item</li>
        <li>Final ordered item</li>
      </ol>
    </app-card>
  </div>
  <div class="col-md-12 col-lg-4">
    <app-card cardTitle="Unstyled">
      <ul class="list-unstyled">
        <li>Unstyled list item one</li>
        <li>
          Parent item
          <ul>
            <li>Nested item</li>
          </ul>
        </li>
        <li>Unstyled list item two</li>
        <li>Unstyled list item three</li>
      </ul>
      <h5>Inline</h5>
      <hr />
      <ul class="list-inline m-b-0">
        <li class="list-inline-item">Inline one</li>
        <li class="list-inline-item">Inline two</li>
        <li class="list-inline-item">Inline three</li>
      </ul>
    </app-card>
  </div>
  <div class="col-md-6">
    <app-card cardTitle="Blockquotes">
      <p class="text-muted m-b-30">Your awesome text goes here.</p>
      <blockquote class="blockquote">
        <p class="mb-2">Sample blockquote text. Use blockquotes to highlight a short quote or callout.</p>
        <footer class="blockquote-footer">
          Author in
          <cite title="Source Title">Source Title</cite>
        </footer>
      </blockquote>
      <p class="text-muted m-b-15 m-t-20">
        Add
        <code>.text-end</code>
        for a blockquote with right-aligned content.
      </p>
      <blockquote class="blockquote text-end">
        <p class="mb-2">Right-aligned blockquote. Same styling, different alignment.</p>
        <footer class="blockquote-footer">
          Author in
          <cite title="Source Title">Source Title</cite>
        </footer>
      </blockquote>
    </app-card>
  </div>
  <div class="col-md-6">
    <app-card cardTitle="Horizontal Description">
      <dl class="dl-horizontal row">
        <dt class="col-sm-3">Description lists</dt>
        <dd class="col-sm-9">A description list is perfect for defining terms.</dd>

        <dt class="col-sm-3">Euismod</dt>
        <dd class="col-sm-9">Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
        <dd class="col-sm-9">Donec id elit non mi porta gravida at eget metus.</dd>

        <dt class="col-sm-3">Malesuada porta</dt>
        <dd class="col-sm-9">Etiam porta sem malesuada magna mollis euismod.</dd>

        <dt class="col-sm-3 text-truncate">Truncated term is truncated</dt>
        <dd class="col-sm-9">
          Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
        </dd>
      </dl>
    </app-card>
  </div>
  <!-- [ Typography ] end -->
</div>
<!-- [ Main Content ] end -->
